body{
  background-color: blue;
}

.nav-section{
  border: solid 1px black;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-section:hover{
  background-color: #9c7e31;
}

.nav-section:active{
  background-color: red;
}

.nav-section a{
  text-decoration: none;
  color: white;

}

.header{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 50px;
  color:grey;
  font-family: monospace;
}

.profile-pic{
  width: 350px;
  margin-right: 250px;
}

.move-right {
  display: flex;
  justify-content: right;

}

.center-form{
  display: flex;
  justify-content: center;
}
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
 